<div class="container">
  <h1>Angular Dynamic Multipart form</h1>
  <form
    *ngIf="users && users.length"
    [formGroup]="usersForm"
    (ngSubmit)="submitForm()"
  >
    <div *ngFor="let user of users" class="form-row">
      <div class="col">
        <label for="{{ user.name }}">{{ user.name }}</label>
      </div>
      <div class="col">
        <input
          type="number"
          id="{{ user.name }}"
          formControlName="{{ user.name }}"
          placeholder="Enter amount"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-outline-success mr-auto">
      Submit form
    </button>
  </form>
</div>
